handson-mlp-github/.gitignore
handson-mlp-github/*
my_stuff/notes/exercices/*
*/exercices/*
*/src/*
*/tmp.py
.venv/*
pyproject.toml
.python-version

*backup*.*
*cleanup*.*
submission.csv
notebooks/Kaggle/*
*cat_feature_index*
Kaggle/House Prices Advanced Regression Techniques/catboost_info/learn/events.out.tfevents
